*{
    padding: 0;
    margin: 0;
}

.navbar{
    background-color: FFFFFF;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 67px;
}

input{
    display: none;
}

img:active{
    background-color: rgba(231, 224, 224, 0.456);
    border-radius: 5px;
}

.sidePanellogo{
    width: 30px;
    height: 30px;
    margin-left: 2rem;
    z-index: 999;
    
}

.darkMode{
    width: 25px;
    height: 25px;
    margin-right: 2rem;
}

.darkMode:hover, .sidePanellogo:hover{
    cursor: pointer;
}

p{
   width: 196px;
   height: 30px;
   font-size: 24px;
   font-weight: bold;
   font-family: inherit;
}